* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

header {
  background: #0d47a1;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

header h1 {
  font-size: 2.5em;
}

nav {
  background: #fff;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #0d47a1;
  font-weight: bold;
}

section {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

h2 {
  color: #0d47a1;
  margin-bottom: 20px;
}

.project, .skill {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.contact {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

footer {
  background: #0f2342;
  color: white;
  text-align: center;
  padding: 20px;
}
.project img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  margin-bottom: 15px;
}


@media (max-width: 600px) {
  header h1 {
    font-size: 1.8em;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin: 5px 0;
  }
}

.resume-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #132a4d;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}

.resume-button:hover {
  background: #1565c0;
}

